.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  @apply transition-all duration-100;
}

.switch-btn-label {
  @apply relative flex h-6 w-11 cursor-pointer items-center justify-between rounded-2xl bg-slate-500 transition-colors duration-300 checked:bg-green-300;
}

.switch-slider {
  @apply absolute left-0.5 top-0.5 aspect-square h-5/6 rounded-full bg-white shadow-2xl transition-all duration-300 ease-in-out content-none;
}