@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gray-100;
	}
}

@layer components {
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px #f0fdf4 inset !important;
	}

	.button-contained {
		@apply border-2 w-36 px-2 py-1 bg-green-accent border-green-variant text-lg text-whitegray font-semibold hover:opacity-90 rounded-full flex justify-center items-center space-x-2;
	}

	.button-outlined {
		@apply border-2 w-36 px-2 py-1 border-green-variant text-green-accent text-lg hover:bg-green-100 font-semibold rounded-full flex justify-center items-center space-x-2;
	}

	.button-contained-square {
		@apply border-2 w-full p-2 bg-green-accent border-green-variant text-lg text-whitegray font-semibold hover:opacity-90 rounded-lg flex justify-center items-center space-x-2;
	}

	.button-outlined-square {
		@apply border-2 w-full p-2 border-green-variant text-green-accent text-lg hover:bg-green-100 font-semibold rounded-lg flex justify-center items-center space-x-2;
	}

	.color-primary {
		@apply border-green-variant text-green-accent hover:hover:bg-green-100;
	}

	.color-secondary {
		@apply border-gray-500 text-black hover:hover:bg-gray-200;
	}

	.color-danger {
		@apply border-orange-accent text-orange-600 hover:hover:bg-red-50;
	}

	.admin-content {
		@apply m-2 md:m-5 mt-24 p-2 md:p-10 bg-white dark:bg-gray-900 rounded-3xl overflow-x-scroll no-scrollbar shadow-md;
	}

	.admin-child-content {
		@apply m-2 md:m-5 mt-24 p-4 xs:w-4/5 md:w-1/4 bg-slate-50 dark:bg-gray-800 rounded-3xl overflow-x-scroll no-scrollbar shadow-md;
	}
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
